_libgcc_mutex
addict
aliyun-python-sdk-core
aliyun-python-sdk-kms
appdirs
ca-certificates
certifi
cffi
chardet
charset-normalizer
cityscapesscripts
click
colorama
coloredlogs
crcmod
cryptography
cycler
cython
easydict
filelock
fonttools
fsspec
huggingface-hub
humanfriendly
idna
imagecorruptions
imageio
importlib-metadata
jmespath
joblib
kiwisolver
ld_impl_linux-64
libffi
libgcc-ng
libstdcxx-ng
lxml
markdown
markdown-it-py
matplotlib
mdurl
mmcv
mmengine
model-index
ncurses
networkx
nltk
numpy
opencv-python
opendatalab
openmim
openssl
openxlab
ordered-set
oss2
packaging
pandas
pillow
pip
platformdirs
pycocotools
pycparser
pycryptodome
pygments
pyparsing
pyquaternion
python
python-dateutil
pytz
pywavelets
pyyaml
readline
regex
requests
rich
safetensors
scikit-image
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
shapely
six
sqlite
summary
tabulate
termcolor
terminaltables
threadpoolctl
tifffile
timm
tk
tokenizers
tomli
torch
torchaudio
torchvision
tqdm
transformers
typing
typing-extensions
urllib3
wheel
xz
yapf
zipp
zlib
